/************************
    Colors
*************************/

.content {
    background: #777777;
    color: #ebebeb;
}

section,
aside,
div,
h1,
h2,
h3,
h4,
h5,
p {
    background: #ebebeb;
    color: #777777;
}


/************************
    Sizing
*************************/

header,
.content {
    width: 960px;
}

section {
    width: 495px;
}

table {
    width: 100%;
}

aside {
    width: 405px;
}

.content,
section,
aside {
    min-height: 500px;
    height: fit-content;
}


/************************
    Layout
*************************/

header,
section,
aside,
.content {
    text-align: center;
}

header,
.content {
    margin: 20px auto;
    padding: 0;
}

section,
aside {
    padding: 30px 10px;
}

section {
    float: left;
    margin-left: 0;
    margin-bottom: 20px;
}

aside {
    float: right;
    margin-right: 0;
    margin-bottom: 20px;
}

article {
    margin: 30px auto;
    padding: 15px;
}

div,
p {
    padding: 20px;
}

p {
    margin: 10px auto;
}

div {
    margin: 5px auto;
}

.clear {
    clear: both;
}